* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    max-width: 1920px;
    background-color: #030812;
}

.header {
    max-width: 1920px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.header-body {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto 0;
    align-items: center;
}

.logo {
    display: flex;
    width: 215px;
    justify-content: space-between;
}

.logo__img {
    display: flex;
    justify-content: center;
}

.logo__img img {
    width: 46px;
    height: 53px;
}

.logo__text {
    color: #ffffff;
    /* Ultra NFT */

    position: static;
    width: 100%;
    height: 48px;
    left: 76px;
    top: calc(50% - 48px / 2);

    /* Headings/H4-Bold */
    font-family: Urbanist, "Roboto Light", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height, or 150% */


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 12px;
}

.search-field {
    display: flex;
    width: 296px;
    height: 48px;
    justify-content: space-between;
    margin: 0 37px;
}

.search-field__input {
    display: flex;
    width: 100%;
    height: 100%;
}

.search-field input {
    width: 264px;
    height: 100%;
    background: #3C485D;
    border-radius: 0 8px 8px 0;
}

.search-field__submit {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    right: 296px;
}

.search-field__submit button {
    width: 100%;
    height: 100%;
    background: #3C485D;
    border-radius: 8px 0 0 8px;
}

.search-field__submit button:before {
    content: "\f002";
    font-family: FontAwesome, serif;
    font-size: 16px;
    color: white;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 553px;
    height: 100%;
}

.links__item {
    height: 100%;
}

.links__item a {
    /* Contact us */

    position: static;
    width: 79px;
    height: 24px;
    left: 237px;
    top: 16px;

    /* Paragraph/Body-Regular-Bold */
    font-family: Urbanist, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    /* identical to box height, or 150% */

    color: #FFFFFF;

}

.links__item button {
    height: 56px;
    width: 185px;
    background-image: url("../img/img_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
}

.hero {
    max-width: 1920px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 470px;
    height: 374px;
    display: inline-grid;
}

.content__text-1 {
    font-family: Urbanist, "Roboto Light", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
}

.content__text-1 span {
    color: #FD3D71;
}

.content__text-2 {
    font-family: Urbanist, "Roboto Light", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.content__navigate-buttons {
    width: 434px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.explore {
    background-image: url("../img/btn_explore.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #030812;
    width: 212px;
    height: 72px;
    border-radius: 8px;
}

.btn-create {
    background-color: #030812;
    background-image: url("../img/btn_create.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 206px;
    height: 72px;
    border-radius: 8px;
}

.image {
    width: 670px;
    height: 570px;
}

.image__item {
    width: 670px;
    height: 570px;
    background-image: url("../img/discover.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.how-it-works {
    max-width: 1920px;
    height: 380px;
    display: block;
    justify-content: center;
    margin-top: 160px;
}

.how-it-works__title h1 {
    font-family: Urbanist, "Roboto Light", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 88px;
    text-align: center;
    color: #FFFFFF;
}

.images-boxes {
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 56px;
    justify-content: space-between;
}

.table {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 30px;
}

.table:last-child {
    margin-right: 0;
}

.table__img {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
}

.table__text1 {
    font-family: Urbanist, "Roboto Light", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

.table__text2 {
    font-family: Urbanist, "Roboto Light", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.live-auctions {
    max-width: 1920px;
    margin-top: 160px;
}

.auctions-title {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.auctions-title h1 {
    font-family: Urbanist, "Roboto Light", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 88px;
    color: #FFFFFF;

}

.auctions-title button {
    width: 242px;
    height: 72px;
    background-color: #030812;
    background-image: url("../img/explore-all.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.slider {
    max-width: 1920px;
    margin-top: 56px;
}

.row {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
}

.row::-webkit-scrollbar {
    display: none;
}

.row__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    margin-right: 30px;
    padding: 24px;
}

.card-image {
    background-repeat: no-repeat;
    background-size: contain;
    width: 422px;
    height: 422px;

}

.card-content {
    width: 422px;
}

.card-content__row {
    margin: 24px 0;
}

.card-content__row:nth-child(2) {
    display: flex;
    justify-content: space-around;
}

.row-content {
    display: flex;
    justify-content: flex-start;
}

.content__avatar {
    margin-right: 12px;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: contain;
}

.content__text {

}

.content__text h5 {
    font-family: Urbanist, "Roboto Light", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.content__text p {
    font-family: Urbanist, "Roboto Light", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF
}

.content__text span {
    color: #8393AF;
}

.card-content__row {

}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    margin: 0 auto;
    width: 24px;
    height: 24px;
}

.item p {
    margin-top: 4px;
    font-family: Urbanist, "Roboto Light", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.item span {
    color: #8393AF;
}

.card-content__row {

}

.buttons {
    display: flex;
}

.timer {
    width: 151px;
    height: 56px;
    margin-right: 16px;
    background-image: url("../img/slider/timer.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: inherit;
}

.place-bid {
    width: 255px;
    height: 56px;
    background-image: url("../img/slider/place-bid.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: inherit;
}

.dots {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.dots__body {
    display: flex;
}

.dot {
    width: 12px;
    height: 12px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 0 12px;
}

.dot:hover {
    width: 12px;
    height: 12px;
    transform: scale(1.5);
    background-color: #FFFFFF;
}

.popular-collections {
    max-width: 1170px;
    display: block;
    /*width: 70%;*/
    margin: 0 auto;
    margin-top: 160px;
}

.pop-collections__title {
    /*width: 70%;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 56px;
}

.pop-collections__title h1 {
    font-family: Urbanist, "Roboto Light", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 88px;
    text-align: center;
    color: #FFFFFF;
}

.pop-collections__title button {
    width: 242px;
    height: 72px;
    background-color: #030812;
    background-image: url("../img/popular-collections/explore_all.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.content-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.card {
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
}

.card:last-child {
    margin-right: 0;
}

.card__collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 24px;
}

.card__collage div{
    width: 155px;
    height: 155px;
    margin-bottom: 12px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-size: contain;
}

.card__collage div:nth-child(2), .card__collage div:nth-child(4) {
    margin-bottom: 12px;
    margin-right: 0;
}

.card__content {
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    align-items: center;
    margin-bottom: 24px;
    padding: 0;
    position: static;
    width: 322px;
    height: 56px;
    left: 24px;
    top: 370px;
}

.content__text {
    flex-grow: 1;
}





























































